.container-horizontal > p {
  margin: 0 8px;
}

.color-box {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 3px;
  border-width: 0.4em;
  border-style: solid;
}

.color-box.white {
  background-color: white;
  border-color: white;
}

.color-box.black {
  background-color: black;
  border-color: black;
}