.pattern-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/pattern.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
